@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This is the main section  */
.main-container{
    max-width: 1200px;
    min-height: 600px;
    background-color: #0077b6;
    display: flex;
    border-radius: 20px;

}

.player{
    padding: 64px 80px;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap: 16rem; */
    justify-content: space-between;
    /* border-radius: 20px; */
}

img{
    background-size: cover;
    position: absolute;
    width: inherit;
    height: inherit;
    /* display: none; */
}

.player-0{
    border-radius: 20px 0 0 20px;
}

.player-1{
    border-radius: 0 20px 20px 0;
}
.score{
    font-size: 4rem;
}
.current-score-container{
background-color: #ff006e;
color: white;
padding: 16px;
border-radius: 5px;
}
/* buttons  */
.btn{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 1.2rem;
    /* font:1.2rem; */
    border: none;
    transition: .3s;
    display: inline-block;
}
.btn:active{
    transform: translate(-50%,5px);
}
.not-active{
    display: none;
}
.dice{
    width: 100px;
    height: 100px;
    /* background-color: blue; */
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.btn:hover{
    background-color: rgb(233, 70, 97);
    color: white;
}
.new-game-btn{
    top: 20%;
}
.roll-dice-btn{
    top: 65%;
}
.hold-btn{
    top: 73%;
}

/* This code section is when a player is active  */
.active{
    /* width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; */
    background-color: #110f0f;
    opacity: 0.3;
    color: #423d3d;
    /* border-radius: inherit; */
}